@inject AppState AppState
@using System.IO
@using System.Text
@using System.Runtime.Serialization.Json
@using Microsoft.Win32
@using wpf.Models


@if (AppState.WeatherForecasts?.Count > 0)
{
    var props = AppState.WeatherForecasts[0].GetType().GetProperties();

    <table>
        <thead>
            <tr>
                @foreach (var prop in props)
                {
                    <th>@prop.Name</th>
                }
            </tr>
        </thead>
        @foreach (var item in AppState.WeatherForecasts)
        {
            <tr>
                @foreach (var prop in props)
                {
                    <td>@prop.GetValue(item)</td>
                }
            </tr>
        }
    </table>
}
else
{
    <span>No Data available</span>
}

@code {

    protected override void OnInitialized()
    {
        AppState.AppStateChanged += (s, e) => StateHasChanged();    
    }

}
