@using System.Windows.Forms
@using System.IO
@using System.Text
@using System.Runtime.Serialization.Json
@using System.ComponentModel
@using winforms.Models
@using winforms.Services
@inject PropertyChangeNotifier propertyChangeNotifier

@if(WeatherForecasts?.Count > 0)
{
    var props = WeatherForecasts[0].GetType().GetProperties();

    <table>
        <thead>
            <tr>
                @foreach (var prop in props)
                {
                    <th>@prop.Name</th>
                }
            </tr>
        </thead>
        @foreach (var item in WeatherForecasts)
        {
            <tr>
                @foreach (var prop in props)
                {
                    <td>@prop.GetValue(item)</td>
                }
            </tr>
        }
    </table>
}
else
{
    <span>No Data available</span>
}

@code {

    [Parameter]
    public List<WeatherForecast> WeatherForecasts { get; set; }

    protected override void OnInitialized()
    {
        propertyChangeNotifier.PropertyChanged += (s, p) =>
        {
            if (p == "WeatherForecasts") StateHasChanged();
        };
    }
}
