@using System.Runtime.Serialization.Json
@using blzcomponents.Models
@using blzcomponents.Services
@inject IWeatherForecastDataService dataService

<button @onclick="LoadData">Load Data File</button>

@if (WeatherForecasts?.Count > 0)
{
    var props = WeatherForecasts[0].GetType().GetProperties();

        <table>
            <thead>
                <tr>
                @foreach (var prop in props)
                {
                    <th>@prop.Name</th>
                }
                </tr>
            </thead>
        @foreach (var item in WeatherForecasts)
        {
                <tr>
                @foreach (var prop in props)
                {
                    <td>@prop.GetValue(item)</td>
                }
                </tr>
        }
        </table>
}
else
{
        <span>No Data available</span>
}

@code {

    private List<WeatherForecast> WeatherForecasts { get; set; }

    private async Task LoadData()
    {
        WeatherForecasts = await dataService.GetWeatherForecastsAsync();
    }

}
